@use '../../../../../public/assets/styles/variables' as v;
@use '../../../../../public/assets/styles/mixins' as m;

.layout {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}
